
@use './main.scss';
@use './headline.scss';
@use './info.scss';
@use './mobile.scss';
@use './print.scss';
@use './var.scss' as var;
* {
  z-index: 2;
}
body {
  background: #000;
}
.cv {
  background: #fff;
  font-family: 'Lexend', sans-serif;
  color: var.$couleur-text;
}



